@charset "utf-8";
/* CSS Document */

@font-face{
    font-family: TraneFont;
    src: url(Raleway-Font.ttf);
    font-weight: 800;
}

body{
    background-color: #FBF3FF;
}

/*styles the bottom menu navigation*/
.BotNav {
    width: 100%;
    background-color: #000000;
    display: flex;
    overflow: hidden;
    position: fixed;
    border-top: 1.5vh solid black;
    border-bottom: 1.5vh solid black;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
}

.BotNav .selection {
    padding: 0vw 5vw;
}

.BotNav .spacer{
    margin: 4vw 3vw;
    width: .25%;
    height: 6vh;
    background-color: white;
}

/*styles the links inside the navigation bar*/
.BotNav a{
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 2vw 0vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 4vw;
    font-family: TraneFont;
}

.BotNav a:hover {
    border-top: 0.75vh solid white;
}
  
.BotNav a.active {
    border-top: 0.75vh solid white;
}