@charset "utf-8";
/* CSS Document */

@font-face{
    font-family: TraneFont;
    src: url(Raleway-Font.ttf);
    font-weight: 800;
}

.topPanel{
    width: 100%;
    background-color: #F87666;
    display: block;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.topPanel p{
    color: black;
    font-weight: bolder;
    font-size: 5vh;
    margin-left: 5vw;
    margin-top: 7vh;
    margin-bottom: 4vh;
    font-family: TraneFont;
}